#about {
   padding-top: calc(192px + 105px);
   padding-bottom: 80px;
   background: #FAFAFA;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.about-content {
   text-align: center;
}

.about-content h1 {
   font-weight: 700;
   font-size: 40px;
   line-height: 57px;
   letter-spacing: 0.2px;
   color: #252B42;
}

.about-content p {
   font-weight: 500;
   font-size: 14px;
   line-height: 20px;
   text-align: center;
   letter-spacing: 0.2px;
   color: #737373;
   max-width: 450px;
   margin: 0 auto;
   padding-top: 10px;
   padding-bottom: 50px;
}

.about-item {
   display: var(--display);
   justify-content: space-between;
   width: 100%;
}

.about-card {
   display: var(--display);
   flex-direction: column;
   align-items: center;
   padding: 40px 32px 30px 32px;
   /* gap: 10px; */
   min-width: 210px;
   background: #FFFFFF;
}
.about-card:hover{
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-card h2 {
   font-weight: 700;
   font-size: 40px;
   line-height: 57px;
   letter-spacing: 0.2px;
   color: #252B42;
}

.about-card p {
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   letter-spacing: 0.1px;
   color: #737373;
}