#advice {
   padding-top: 125px;
   padding-bottom: 101px;
   background: #FAFAFA;
}

.advice-content {
   text-align: center;
}

.advice-content h1 {
   font-weight: 700;
   font-size: 40px;
   line-height: 57px;
   letter-spacing: 0.2px;
   color: #252B42;
}

.advice-content p {
   max-width: 450px;
   font-weight: 500;
   font-size: 14px;
   line-height: 20px;
   text-align: center;
   letter-spacing: 0.2px;
   color: #737373;
   margin: 0 auto;
   padding-top: 10px;
   padding-bottom: 45px;
}

.advice-item {
   display: var(--display);
   justify-content: space-between;
   width: 100%;
}

.advice-card {
   display: var(--display);
   flex-direction: column;
   align-items: flex-start;
   max-width: 230px;
   background: #FFFFFF;
}

.advice-card h5 {
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.1px;
   color: #252B42;
   max-width: 150px;
   padding-top: 30px;
   padding-bottom: 15px;
}

.advice-card p {
   font-weight: 500;
   font-size: 14px;
   line-height: 20px;
   letter-spacing: 0.2px;
   color: #737373;
   max-width: 180px;
   padding-bottom: 30px;
}
.advice-card h5,
.advice-card p{
   padding-left: 29px;
}